<%- include("./partials/head.ejs") %>

<body class="body_home">

<!--ACA SE INCLUYE EL PARTIAL : HEADER -->
<%- include("./partials/header.ejs") %>

    <main class="ayuda">
       <h2>Como comprar en nuestro sitio:</h2>
       <div class="div_ayuda">
        <ol>
            <li>1-Inicia sesión(en caso de no tener una cuenta deberas crearte una).</li>
            <li>2-Elige el producto que deseas comprar.</li>
            <li>3-Haz clic en el botón de "Sumar al carrito". Esto agregará el producto a tu carrito y te llevará al mismo.</li>
            <li>4-Puedes seguir agregando otros productos al carrito o sino haz clic en "Pagar".</li>
            <li>5-Completa tus datos de contacto y haz clic en "Continuar".</li>
            <li>6-Ingresa la dirección a donde deseas recibir el producto. Luego haz clic en "Continuar".</li>
            <li>7-Selecciona el método de envío que desees y haz clic en "Continuar".</li>
            <li>8-Elige el medio de pago.
                <ul>
                    <li> También puedes seleccionar la opción de "Efectivo o Transferencia".</li>
                    <li>Una vez que hayas elegido el medio de pago, haz clic en "Continuar".</li>
                </ul>
            </li>
    
            <li>9-Finalmente en la página de Confirmación de compra puedes revisar toda la información de la compra. Luego haz clic en "Continuar".</li>
            <li>10-Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago.</li>
            <li>Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado.</li>
           </ol>
       </div>
       


       
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>

</body>

</html>