<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("./partials/head.ejs") %>

<body>

  <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
  <%- include("./partials/header.ejs") %>

    <main>
      <p>Inicio > Productos > Categoria > Nike Air Max 97</p>
      <article class="producto">
        <div class="imagenes_peque単as">
          <img src="images/nike9.webp" alt="miniatura" class="imagen_peque単a">
          <img src="images/027738a4-a120-4774-970a-b2a67a9c730d-673cda2af6b79b02f216330911267738-240-0.jpeg"
            alt="miniatura" class="imagen_peque単a">
          <img src="images/rBVaWF5CTiaAXloQAADZKoR2kqY074.jpg" alt="miniatura" class="imagen_peque単a">
        </div>
        <img src="images/nike9.webp" alt="imagen principal" class="imagen_grande">
        <div class="detalles">
          <h2>Nike Air Max 97</h2>
          <h2>$130.000,00</h2>
          <div class="detalles_talles">
            <p>Talles</p>
            <select name="talles" id="" class="numero">
              <option value="6.5">38</option>
              <option value="7">39</option>
              <option value="7.5">39,5</option>
              <option value="8">40</option>
              <option value="8.5">41</option>
            </select>
          </div>
          <div class="detalles_carrito">
            <p>Cantidad</p>
            <input type="number" class="numero" value="1">
          </div>
          <a href="/carrito">
            <p class="main_carrito">Agregar al carrito</p>
          </a>
        </div>
      </article>
      <a href="/">
        <p class="main_ver-todos-productos">VER TODOS LOS PRODUCTOS</p>
      </a>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("./partials/footer.ejs") %>


</body>

</html>