<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

<body class="body_home">

    <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
    <%- include("../partials/header.ejs") %>

    <main>





<h1>HOLA CAMPEON</h1>







        
    </main>
    <script src="/js/users/validationLogin.js"></script>
    <!--ACA SE INCLUYE EL PARTIAL : -->
    <%- include("../partials/footer.ejs") %>


</body>

</html>