<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

<body class="body_home">

  <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
  <%- include("../partials/header.ejs") %>

    <main class="main__form">
      <div class="main__title__box">
        <hr class="main__form__lines">
        <h2 class="main__form__title">REGISTRARSE</h2>
        <hr class="main__form__lines">
      </div>
      <form action="/users/register" method="post" class="main__form__register" enctype="multipart/form-data">
        <label for="name">NOMBRE</label>
        <input type="text" name="name" placeholder="Nombre y Apellido" id="name" />

        <label for="email">EMAIL</label>
        <input type="email" name="email" placeholder="tuemail@email.com" />

        <label for="email2">CONFIRMAR EMAIL</label>
        <input type="email" name="email2" placeholder="tuemail@email.com" />

        <label for="password">CONTRASEÑA</label>
        <div class="main__form__register__password">
          <input type="password" name="password" class="main__form__register__password" required />
          <i class="fa-regular fa-eye"></i>
        </div>

        <label for="password2">CONFIRMAR CONTRASEÑA</label>
        <div class="main__form__register__password">
          <input type="password" name="password2" required />
          <i class="fa-regular fa-eye"></i>
        </div>
        <label for="image">AVATAR : </label>
      <input type="file" name="image" id="image" accept="image/*" >
        <div class="main__form__register__box">
          <button class="main__form__button" type="submit">CREAR CUENTA</button>

          <p>¿Ya tenés una cuenta? <a href="/users/login">Iniciar sesión</a></p>
        </div>
      </form>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("../partials/footer.ejs") %>


</body>

</html>