<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/5f01a917de.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="pestanias">
          <li><a href="#">Crear cuenta</a></li>
          <li><a href="#">Iniciar sesión</a></li>
        </ul>
      </nav>
      <div class="burger-menu">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </div>
      <img class="logo-ardidas" src="images/LOGO-ARDIDAS.png" alt="logo" />
      <nav>
        <ul class="pestanias">
          <li><a href="#">INICIO</a></li>
          <li><a href="#">PRODUCTOS</a></li>
          <li><a href="#">CONTACTO</a></li>
          <li><a href="#">COMO COMPRAR</a></li>
        </ul>
      </nav>
      <nav class="buscprod">
        <input type="text" placeholder="Buscar" id="Buscar" />
        <i class="fa-solid fa-magnifying-glass"></i>

      </nav>
      <p class="compra-cuotas"><i class="fa-solid fa-magnifying-glass"></i></p>
      
    </header>

    <main>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed aliquam ea doloribus alias eos quam aperiam, id repudiandae. Eius, eaque fugit veniam voluptatibus quae iusto at quis architecto porro! </h2>
    </main>

    <footer class="footer">
   <div>
   <strong class="contact">CONTACTANOS</strong> 
   <p class="contact">tel:1122334455</p>
  <p class="contact">ardidas.contacto@gmail.com</p>


  </div>


    </footer>
  </body>
</html>
