<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <form class="login-email-caja" action="resultado.html" method="POST">
        <label for="nombre">EMAIL</label>
        <div class=""></div>
        <input type="text" name="nombre" id="nombre"> 
    <header>

    </header>

    <main class="login-cont-caja">
        <html>
  <head>
    <title>Formularios</title>
  </head>
  <body >
    <form action="resultado.html" method="POST">
        <label for="nombre">CONTRASEÑA</label>
        <input type="text" name="nombre" id="nombre"> 
        </form>
        <textarea>
        
        

        </textarea>

    </form>
  </body>
</html>
    </main>

    <footer>

    </footer>
    
</body>
</html>