
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compra</title>
    <link rel="shortcut icon" href="images/LOGO-ARDIDAS.svg"/>
    <script src="https://kit.fontawesome.com/ebcb4d12ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="productCart-header">
      <a href="/"><img src="images/LOGO-ARDIDAS.svg" alt="LOGO-ARDIDAS" /></a>
      <a href="" id="button-ayuda-productCart">AYUDA</a>
    </header>
    <main class="productCart-main">
      <div class="productCart-main-div-promo">
        <p>Cuotas sin interes con todos los bancos.</p>
      </div>
        <section class="productCart-main-section-principal">
            <div class="productCart-main-section-principal-encabezado">
                <h3>PRODUCTO</h3><h3>PRECIO</h3>
            </div>
            <article class="productCart-main-section-principal-article">
                <div class="productCart-main-section-principal-article-div-1">
                    <img src="images/nike5.webp" alt="zapatillas">
                </div>
                <div class="productCart-main-section-principal-article-div-2">
                    <p id="productCart-article-nombre">Zapatillas Nike Air max 95</p>
                    <p id="productCart-article-precio">$88.000</p>
                    <a href="" id="productCart-article-borrar"><i class="fa-solid fa-trash-can"></i></a>
                    <input type="number" name="cantidad" id="productCart-article-cantidad" value="1">
                </div>
            </article>
            <article class="productCart-main-section-principal-article">
              <div class="productCart-main-section-principal-article-div-1">
                  <img src="images/nikeb3.webp" alt="zapatillas">
              </div>
              <div class="productCart-main-section-principal-article-div-2">
                  <p id="productCart-article-nombre">Zapatillas Nike Air max 95</p>
                  <p id="productCart-article-precio">$90.000</p>
                  <a href="" id="productCart-article-borrar"><i class="fa-solid fa-trash-can"></i></a>
                  <input type="number" name="cantidad" id="productCart-article-cantidad" value="1">
              </div>
          </article>
          <article class="productCart-main-section-principal-article">
            <div class="productCart-main-section-principal-article-div-1">
                <img src="images/nike8.webp" alt="zapatillas">
            </div>
            <div class="productCart-main-section-principal-article-div-2">
                <p id="productCart-article-nombre">Zapatillas Nike Air max 95</p>
                <p id="productCart-article-precio">$100.000</p>
                <a href="" id="productCart-article-borrar"><i class="fa-solid fa-trash-can"></i></a>
                <input type="number" name="cantidad" id="productCart-article-cantidad" value="1">
            </div>
        </article>
        </section>
      <section class="productCart-main-section-secundario">
        <p class="productCart-main-section-secundario-resumen">Resumen de compra</p>
        <div class="productCart-main-section-secundario-div-1">
        <p id="productCart-section-secundario-text-total">Total</p>
        <p id="productCart-precio-total">$88.000</p>
      </div>
      <div class="productCart-main-section-secundario-div-2">
        <button id="button-pagar-productCart" href="/home">PAGAR</button>
        <button id="button-seguir-comprando-productCart" href="/">SEGUIR COMPRANDO</button>
      </section>
    </div>
    </main>
    <footer class="footer">
      <div class="contenedor-footer">
        <div class="hipervinculos link-footer">
          <h3 class="txt-footer-navegacion">NAVEGACIÓN</h3>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">¿Como comprar?</a></li>
          </ul>
        </div>

        <div class="hipervinculos contacto_footer">
          <h3>CONTACTANOS</h3>
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-phone icono-contact"></i
                >tel:1122334455</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-envelope icono-contact"></i
                >ardidas.contacto@gmail.com</a
              >
            </li>
          </ul>
        </div>

        <div class="hipervinculos redes-footer">
          <h3>REDES SOCIALES</h3>
          <ul class="redes">
            <li>
              <a href="#"
                ><i
                  class="fa-brands fa-square-facebook"
                  style="color: #fcfce7"
                ></i
              ></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa-brands fa-tiktok" style="color: #fcfce7"></i>
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="fa-brands fa-instagram" style="color: #fcfce7"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copy-footer">
        <h6 class="copy">Copyright © 1999-2023 Ardidas S.R.L.</h6>
      </div>
    </footer>
  </body>
</html>

