.footer {
  width: 100%;
  padding: 20px;
  background-color: #000000;
}

.copy {
  color: var(--color-beige);

}

.redes {
  display: flex;
}

.redes a {
  font-size: 20px;
  padding: 15px;
}

.copy-footer {
  display: none;
}
.hipervinculos a {
  font-size: 16px;
  color: var(--color-beige);

}

.hipervinculos h3 {
  color: var(--color-beige);
}

.redes-footer {
  display: none;
}

.link-footer {
  display: none;
}

.contacto_footer {
  text-align: center;
}
.contacto_footer ul{
  padding-left: 0;
}

.contacto_footer a {
  font-size: 15px;
}

@media (min-width: 768px) {
  .contenedor-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
  }

  .link-footer {
    display: initial;
  }

  .redes-footer {
    display: initial;
    text-align: center;
  }

  .redes a {
    font-size: 40px;

  }

  .copy-footer {
    display: initial;
  }
  .copy-footer h6{
    font-weight: bold;
    line-height: 0;
    margin-bottom: 0;
  }

  .copy {
    font-size: 20px;

  }
  .hipervinculos ul{
    margin-bottom: 0;
    padding-left: 0;
}
.hipervinculos a{
  text-decoration: none;
}

  .hipervinculos h3 {
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 0;
  }

  .hipervinculos ul li {
    margin-top: 5px;
  }

  .contacto_footer ul li {
    margin-top: 15px;
  }

  .icono-contact {

    padding-right: 5px;
  }

}
