.imagen_grande {
    width: 100%;
}
.imagen_pequeña {
    width: 0%;
}

.producto {
    border-radius: 10px;
    padding: 1%;
}

.main_ver-todos-productos {
    color: white;
    background-color: black;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 18%;
    top: 10px;
}

.main_carrito {
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

.detalles {
    padding-bottom: 5%;
    text-align: center;
    position: relative;
}

.numero {
    text-align: center;
    background-color: white;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

main {
    padding: 5%;
    background-color: #FCFCE7;
}

@media (min-width: 768px) {
    .producto {
        flex-direction: row;
        display: flex;
        border-radius: 10px;
    }
    .imagen_grande {
        width: 40%;
        margin-right: 1%;
    }
    .imagen_pequeña {
        width: 10%;
        height: 10%;
        margin-right: 1%;
    }
    .detalles {
        text-align: left;
        position: relative;
        top: 10px;
    }
}

@media (min-width: 1024px) {
    .producto {
        flex-direction: row;
        display: flex;
        border-radius: 10px;
        padding: 1%;
    }
    .imagen_grande {
        width: 40%;
        margin-right: 1%;
    }
    .imagen_pequeña {
        width: 10%;
        height: 10%;
        margin-right: 1%;
    }
    .detalles {
        text-align: left;
        position: relative;
        top: 10px;
    }
}