.box_dashboard_option a{
    background:transparent;
}

.icon_edit_dashboard{
    font-size: 25px;
    padding: 0 10px;
    
}

.box_redirect_create{
    text-align: center;
}

.box_redirect_create a{
    font-size: 20px;
    color: var(--color-blanco);
    font-weight: bolder;
}

.btn_redirect_create{
    border: 3px solid var(--color-negro);
    background-color: var(--color-negro);
    box-shadow: 0px 0px 10px var(--color-negro);
    border-radius: 15px;
    padding: 1px 10px;

}

.button-delete{
    background:transparent;
    padding: 3px;
    border: transparent;
}

.fa-trash-can{
    color: var(--color-blanco)  ;
    font-size: 25px;
}
.fa-highlighter{
    color: var(--color-blanco) ;
    font-size: 25px;
}
.product_dasboards{
    border-radius: 20px;

}


@media  (min-width: 768px){
    .box_redirect_create a{
        font-size: 30px;
    }
}

@media  (min-width: 1024px){
    .box_redirect_create a{
        font-size: 40px;
    }
    .section_products_main_index{
        max-width: 1024px;
        margin:auto
    }
}


/* DASHBOARD USUARIOS */


.users_dashboard_db{
    padding: 15px 0 ;
}

.users_depto{
    background:linear-gradient(black 40%, grey );
    margin-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    /* border: 1px solid var(--color-negro); */
}

.container_Avatar_dashboard img{
    padding: 3px;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 100%;
    height: 230px;
    width: 235px;
}

.container_Avatar_dashboard{
    padding: 5px;
    margin: auto;
}

.user_name_db {
    color: var(--color-beige);
    font-size: 22px;
    font-weight: bold;
}

.modelo {
    color: var(--color-blanco);
    font-size: 18px;
}





@media  (min-width: 768px){ 


    .users_dashboard_db{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }

    .users_depto{
        margin: 15px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

}


@media  (min-width: 1024px ){
    .users_dashboard_db{
        display: grid;
        grid-template-columns: repeat(3,2fr);
    }


}


