.box_dashboard_option a{
    background-color: var(--color-verde-muzgo);
}

.icon_edit_dashboard{
    font-size: 25px;
    padding: 0 10px;
    
}

.box_redirect_create{
    text-align: center;
}

.box_redirect_create a{
    font-size: 20px;
    color: var(--color-blanco);
    font-weight: bolder;
}

.btn_redirect_create{
    border: 3px solid var(--color-negro);
    background-color: var(--color-negro);
    box-shadow: 0px 0px 10px var(--color-negro);
    border-radius: 15px;
    padding: 1px 10px;

}

@media  (min-width: 768px){
    .box_redirect_create a{
        font-size: 30px;
    }
}

@media  (min-width: 1014px){
    .box_redirect_create a{
        font-size: 40px;
    }
}

/* Diseños de formulario de edicion */

.dashboard__image {
    
    width: 361px;
    height: 361px;
    position:relative;
    background-color: grey;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.dashboard__image input {
    position:absolute;
    top:170px;
    left:20px;
}

.dashboard__image__mini {
    height: 67.73px;
    width: 67.73px;
    background-color: grey;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}
.dashboard__image__mini h2 {
    text-align: center;
    padding-top: 20%;
}

#talles {
    width: 50px; 
}

.form__productEdit input {
    width: 270px; 
}

.form__productEdit textarea {
    width: 270px;
    margin-left: 10px;
}

.dashboard__talles {
    margin-left: 10px;
}