:root{
    --color-blanco: white;
    --color-negro: #000000;
    --color-beige: #fcfce7; 
    --color-verde-agua: #4e936d;
    --color-verde-claro: #c6f7c0;
    --color-verde-muzgo: #848774;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
