<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/js/users/validationLogoutConfirm.js"></script>
<footer class="footer">
    <div class="contenedor-footer">
        <div class="hipervinculos link-footer">
            <h3 class="txt-footer-navegacion">NAVEGACIÓN</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/ayuda">¿Como comprar?</a></li>
            </ul>
        </div>

        <div class="hipervinculos contacto_footer">
            <h3>CONTACTANOS</h3>
            <ul>
                <li>
                    <a href="tel:123-456-7890">
                        <i class="fa-solid fa-phone icono-contact"></i>tel:123-456-7890</a>
                </li>
                <li>
                    <a href="mailto:ardidas.contacto@gmail.com"><i
                            class="fa-solid fa-envelope icono-contact"></i>ardidas.contacto@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="hipervinculos redes-footer">
            <h3>REDES SOCIALES</h3>
            <ul class="redes">
                <li>
                    <a href="https://www.facebook.com/adidasAR" target="_blank"><i class="fa-brands fa-square-facebook"
                            style="color: #fcfce7"></i></a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@adidas?lang=es" target="_blank"><i class="fa-brands fa-tiktok"
                            style="color: #fcfce7"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/adidasar/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"
                            style="color: #fcfce7"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-footer">
        <h6 class="copy">Copyright © 1999-2024 Ardidas S.R.L.</h6>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
