<header class="header">
    <div class="login_header_index">
        <% if (usuarioLogeado && usuarioLogeado.id_category==1) {%>
            <a href="/products/dashboard"> Productos |</a>
            <a href="/users/dashboard"> Usuarios | </a>

            <%}%>

                <% if (usuarioLogeado !=undefined) {%>
                    <img class="avatar_header" src="/images/users/<%= usuarioLogeado.image %>"
                        alt="imagen_avatar_usuario">
                    <a href="/users/profile/<%= usuarioLogeado.id %>">
                        <p>
                            <%= usuarioLogeado.email %>
                        </p>
                    </a>
                    <a href="">
                        <p> | </p>
                    </a>
                    <a href="/users/logout">
                        <p>Cerrar Sesion</p>
                    </a>
                    <%} else{%>
                        <a href="/users/register">
                            <p>Crear Cuenta |</p>
                        </a>
                        <a href="/users/login">
                            <p>Iniciar Sesion</p>
                        </a>
                        <%}%>
    </div>
    <div class="header_top">
        <a href="" class="menu_hambu_contenedor">
            <i class="menu_hamburguesa fa-solid fa-bars" style="color: #fcfce7"></i>
        </a>
        <div class="contenedor_search_nav_home">
            <a class="logo-contenedor" href="/"><img class="logo" src="/images/LOGO-ARDIDAS.png"
                    alt="Logo MercadoLiebre" class="logo" /></a>
            <nav class="nav_home_index">
                <ul class="nav_ul">
                    <li>
                        <a href="/"><strong>INICIO</strong></a>
                    </li>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="#">¿COMO COMPRAR?</a></li>
                </ul>
            </nav>
            <form class="busqueda-contenedor" action="">
                <input class="busqueda home-logo-busqueda" type="text" placeholder="      Buscar" />
                <i class="fa-solid fa-magnifying-glass" style="color: #fefefe"></i>
                <a class="carrito_header_index" href="/products/carrito"><i class="fa-solid fa-bag-shopping"
                        style="color: #fcfce7"></i></a>
            </form>
        </div>
    </div>

  
</header>