<div class="div_wpp">
  <a
    rel="noreferrer"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=+541131036827&text=Hola!%20Tengo%20una%20consulta"
  >
  <i class="fa-brands fa-whatsapp"></i>
  </a>
  
</div>
