<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%-include("../partials/head.ejs")%>

  <body class="update_body">

    <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
    <%-include("../partials/header.ejs")%>


      <main class="main_update">
        <h2 class="h2_title_form">CARGA DE PRODUCTO</h2>
          <form action="/products" method="post" class="main__form__register" enctype="multipart/form-data">
          <section class="producto update_section-box">


            <div class="img_update_fast">

              <input class="dashboard__image" name="image" type="file" accept="image/*">

            </div>

            <div class=" update_box_intern">
              <label for="nombre">Nombre :</label>
              <input type="text" name="nombre" id="nombre" />

              <label for="precio">Precio :</label>
              <input type="number" name="precio" />

              <label for="category" >Categoría:</label>
              <select name="category" id="category" >
                <option value="oferta">Oferta</option>
                <option value="destacado">Destacado</option>
                <option value="lanzamiento">Lanzamiento</option>
              </select>

              <div class="talles_update">
                <label>Talles :</label>
                <div>
                  <input type="checkbox" name="talles" value="37" id="talles">
                  <label for="talles" >37</label>
                </div>



                <div>
                  <input type="checkbox" name="talles" value="38" id="talles">
                  <label for="talles" >38</label>
                </div>


                <div>
                  <input type="checkbox" name="talles" value="39" id="talles">
                  <label for="talles" >39</label>
                </div>


                <div>
                  <input type="checkbox" name="talles" value="40" id="talles">
                  <label for="talles" >40</label>
                </div>

              </div>

          
              </div>
              <div>

                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" cols="25" rows="1"></textarea>

              </div>
              <div>
                <label>Colores disponibles :</label>
                <div>
                  <input type="checkbox" name="color" value="Negro" id="color">
                  <label for="color" >Negro</label>
                </div>

                <div>
                  <input type="checkbox" name="color" value="Blanco" id="color">
                  <label for="color" >Blanco</label>
                </div>

                <div>
                  <input type="checkbox" name="color" value="Gris" id="color">
                  <label for="color" >Gris</label>
                </div>

                <div>
                  <input type="checkbox" name="color" value="Rosa" id="color">
                  <label for="color" >Rosa</label>
                </div>

                <div>
                  <input type="checkbox" name="color" value="Azul" id="color">
                  <label for="color" >Azul</label>
                </div>

                <div>
                  <input type="checkbox" name="color" value="Beige" id="color">
                  <label for="color" >Beige</label>
                </div>

              </div>

            </div>
          
          </section>
          <button class="main_ver-todos-productos" type="submit">CREAR PRODUCTO</button>

        </form>

      </main>

      <!--ACA SE INCLUYE EL PARTIAL : -->
      <%- include("../partials/footer.ejs") %>
  </body>

  </html>